* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/* Reuse */
.pointer {
    cursor: pointer;
}
.boder-none {
    border: none;
    outline: none;
    flex: 1;
}
.check-box {
    border: 2px solid black;
}
.center-column {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}
.center-row {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row;
}
.flex-align-left {
    justify-content: flex-start;
}
.grid-style {
    display: grid;
}
.flex-style {
    display: flex;
}
.col {
    float: left;
}
.min-width-776 {
    min-width: 776px;
}
.mrg-top-16{
    margin-top: 16px;
}
.mrg-top-8{
    margin-top: 8px;
}
.mrg-left-8 {
    margin-left: 8px;
}
.font-size-15 {
    font-size: 15px;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}
.grid-col-half {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}
.grid-col-third {
    grid-template-columns: auto auto auto;
}
.container {
    background-image: linear-gradient(rgb(60, 121, 203), #d7d7d7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* CSS Main */
.container .logo .logo__img{
    margin-bottom: 30px;
    max-width: 272px;
}

.container .search-bar {
    flex-direction: column;
}

.search-bar--normal {
    background-color: white;
    font-size: 15px;
    width: 796px;
}

.search-bar--normal__inline {
    display: flex;
    align-items: center;
}
.search-bar--normal__inline .search-btn {
    background-image: linear-gradient(135deg, #f4ed2d, #fea423);
    height: 46px;
    width: 46px;
    font-size: 20px;
    color: #eaf6fb;
    text-decoration: none;
    border: none;
}
.search-bar--normal__inline .search-btn:hover {
    color: #3380fc;
}

.search-bar__input {
    flex: 1;
    font-size: 14px;
    border: none;
    border-right: 1px solid;
    outline: none;
    padding: 15px 10px;
}
.sub-input {
    padding: 10px;
}
.advanced-search__btn {
    margin-right: 10px;
    color: blue;
}
.search-bar--advanced {
    font-size: 12px;
}
.search-bar--advanced .save-list__btn {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    color: blue;
}

.search__decs {
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
}
.declare {
    color: blue;
}
.indemnity {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* Open advance search bar */

.close {
    display: none;
}
 /* Advanced search bar begin */
.advsearch-container {
    width: 798px;
    overflow: hidden;
    animation: advSearchBarAppear 0.5s ease-out;
    height: auto;
}

.product-group {
    grid-column-end: span 2;
}
.product-group-input {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 0 0 7px;
    margin-left: 5px;
}
.product-situation {
    grid-template-columns: 1fr 2fr 2fr;
}

@keyframes advSearchBarAppear {
    from {
        height: 0;
    }
    to {
        height: 168px;
    }
}
.erase-btn {
    float: right;
}
 /* Advanced search bar end */
.product-imformation {
    display: none;
}
.product-detail {
    display: none;
}
// indemnity box

.indemnity-container {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9)
}

.w-wrap {
    word-wrap: break-word;
}