<div class="indemnity">
    <a href="#" class="declare">Tuyên bố miễn trừ trách nhiệm</a>
    <p class="contact mrg-top-8">© 2024 - IPSearch.vn - Email: contact@ipsearch.vn</p>
</div>
<div class="indemnity-container close">
    <div class="indemnity-box">
      <i class="fa fa-remove indemnity-remove" style="font-size:24px"></i>
        <div class="logo-container">
          <img class="logo-img" src="/image/logo.jpg" alt="">
        </div>
        <div class="indemnity-content">
            <p class="description">
              Tuyên bố miễn trừ trách nhiệm:
              <br>
              <br>
"IPSEARCH.VN" (IPSEARCH) cung cấp việc tra cứu miễn phí thông tin sở hữu trí tuệ dựa trên việc tổng hợp từ nhiều nguồn thông tin công khai khác nhau, bao gồm nhưng không giới hạn: WIPO Global brand database, ASEAN IP REGISTER, Công báo sở hữu công nghiệp và các nguồn thông tin được công bố công khai khác.
              <br>
              <br>
Các thông tin trên IPSEARCH CHỈ CHO MỤC ĐÍCH THAM KHẢO và không có bất kỳ giá trị pháp lý nào. Mặc dù vậy, chúng tôi vẫn cố gắng hết sức để cung cấp thông tin chính xác nhất và cập nhật kịp thời nhất. Người dùng được khuyến nghị tham khảo các nguồn thông tin chính thức của các cơ quan quản lý nhà nước. Chúng tôi sẽ không chịu bất kỳ trách nhiệm nào do việc sử dụng thông tin trên trang web này gây ra. Các chức năng hiển thị trên IPSEARCH vẫn đang trong quá trình thử nghiệm và hoàn thiện, chúng tôi rất mong nhận được sự đóng góp của người dùng.
              <br>
              <br>
Dữ liệu được sử dụng để tìm kiếm trên trang web này được tổng hợp từ Cơ sở dữ liệu thương hiệu toàn cầu của WIPO, Nền tảng ASEAN IP REGISTER, NOIP Việt Nam, Công báo sở hữu công nghiệp và các nguồn thông tin đại chúng khác. IPSEARCH, Tổ chức Sở hữu Trí tuệ Thế giới (WIPO), Nền tảng ĐĂNG KÝ IP ASEAN, NOIP Việt Nam không chịu trách nhiệm về tính toàn vẹn hoặc chính xác của dữ liệu trên website này, đặc biệt do nhưng không giới hạn đối với bất kỳ hành động xóa, thao túng hoặc định dạng lại dữ liệu nào có thể đã xảy ra ngoài tầm kiểm soát của nó.
            </p>
        </div>
    </div>
</div>